<h1>Products</h1>
<hr>
<table id="productsTable">
    <tr>
        <td><strong>Producto</strong></td>
        <td><strong>Descripción</strong></td>
        <td><strong>Precio</strong></td>
        <td><strong>Código</strong></td>
        <td><strong>Stock</strong></td>
        <td><strong>Categoría</strong></td>
    </tr>
    {{#each data.docs}}
    <tr>
    <td><img src="{{this.photo}}" alt="" width="85" /></td>
    <td>{{this.name}}</td>
    <td>{{this.type}}</td>
    <td>{{this.code}}</td>
    <td>{{this.stock}}</td>
    <td>{{this.category}}</td>
    <td>{{this.price}}</td>
    </tr>
    {{/each}}  
</table>
<div id="moving"></div>